p{
    color:whitesmoke;
    background:green;
    font:italic;
}

.Box{
    width:100px;
    height: 100px;
    background: green;
    padding:10px;
    border:2px solid black;
    float: left;
    position: absolute;
    top:540px;
    left:930px;
}
.Box2{
    width:100px;
    height: 100px;
    background: green;
    padding:10px;
    border:2px solid black;
    float: left;
    position: absolute;
    top:620px;
    left:930px;
}